
@{

}
<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form asp-controller="Login" asp-action="CheckLogin">
        Email <input type="text" name="email" />
        Password <input type="text" name="password" />
        <input type="submit" value="Login" />
    </form>
</div>

