@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Assignment 3</h1>
</div>
<div class="dropdown-menu-left">
    <a asp-controller="Members" asp-action="Index">Member Management</a> <br />
    <a asp-controller="Products" asp-action="Index">Product Management</a> <br />
    <a asp-controller="Orders" asp-action="ViewOrders">Order Management</a>
</div>
